@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

.ribbon {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    left: -20px;
    top: 42px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 10px 5px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 3;
    &::before {
        content: "";
        top: -2px;
        left: -18px;
        width: 35px;
        height: 100%;
        position: absolute;
        border-color: #000;
        border-style: solid;
        border-width: 2px 0px 2px 2px;
        -moz-transform: skewX(-45deg);
        -ms-transform: skewX(-45deg);
        -webkit-transform: skewX(-45deg);
        transform: skewX(-45deg);
    }
    &::after {
        content: "";
        top: -2px;
        right: -18px;
        width: 35px;
        height: 100%;
        position: absolute;
        border-color: #000;
        border-style: solid;
        border-width: 2px 2px 2px 0px;
        -moz-transform: skewX(-45deg);
        -ms-transform: skewX(-45deg);
        -webkit-transform: skewX(-45deg);
        transform: skewX(-45deg);
    }
}
